openapi: 3.0.0
info:
  title: Workspace
  description: OpenAPI schema for workspace management in Meshery Cloud.
  version: v1beta1
  contact:
    name: Meshery Maintainers
    email: maintainers@meshery.io
    url: https://meshery.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://cloud.meshery.io
    description: Meshery Cloud production server URL
  - url: https://staging-cloud.meshery.io
    description: Meshery Cloud staging server URL
  - url: http://localhost:9876
    description: Meshery Cloud development server URL (controlled via PORT environment variable)
security:
  - jwt: []
tags:
  - name: workspaces
    description: APIs for Meshery Cloud workspaces.

paths:
  /api/workspaces:
    get:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: GetWorkspaces
      summary: Get all workspaces
      description: Gets all workspaces accessible to the current user.
      parameters:
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/filter"
      responses:
        "200":
          description: Workspaces
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacePage"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    post:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: CreateWorkspace
      summary: Create a workspace
      description: Creates a new workspace.
      requestBody:
        $ref: "#/components/requestBodies/workspacePayload"
      responses:
        "201":
          description: Created workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}:
    get:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: GetWorkspaceByID
      summary: Get a workspace by ID
      description: Gets a workspace by its ID.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"
    put:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: UpdateWorkspace
      summary: Update a workspace
      description: Updates a workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      requestBody:
        $ref: "#/components/requestBodies/workspaceUpdatePayload"
      responses:
        "200":
          description: Workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: DeleteWorkspace
      summary: Delete a workspace
      description: Deletes a workspace by its ID.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
      responses:
        "200":
          description: Workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspace"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/teams:
    get:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: GetTeamsOfWorkspace
      summary: Get teams assigned to a workspace
      description: Gets teams assigned to or available for a workspace depending on the filter.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/filter"
      responses:
        "200":
          description: Teams
          content:
            application/json:
              schema:
                $ref: "../../v1beta1/team/api.yml#/components/schemas/teamPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/teams/{teamId}:
    post:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: AssignTeamToWorkspace
      summary: Assign a team to a workspace
      description: Assigns a team to a workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/teamId"
      responses:
        "200":
          description: Workspace team mappings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesTeamsMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: UnassignTeamFromWorkspace
      summary: Unassign a team from a workspace
      description: Removes a team from a workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/teamId"
      responses:
        "200":
          description: Workspace team mappings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesTeamsMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/environments:
    get:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: GetEnvironmentsOfWorkspace
      summary: Get environments assigned to a workspace
      description: Gets environments assigned to or available for a workspace depending on the filter.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/filter"
      responses:
        "200":
          description: Environments
          content:
            application/json:
              schema:
                $ref: "../../v1beta1/environment/api.yml#/components/schemas/environmentPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/environments/{environmentId}:
    post:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: AssignEnvironmentToWorkspace
      summary: Assign an environment to a workspace
      description: Assigns an environment to a workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
      responses:
        "200":
          description: Workspace environment mappings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesEnvironmentsMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud"]
      tags:
        - workspaces
      operationId: UnassignEnvironmentFromWorkspace
      summary: Unassign an environment from a workspace
      description: Removes an environment from a workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/environmentId"
      responses:
        "200":
          description: Workspace environment mappings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesEnvironmentsMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/designs:
    get:
      x-internal: ["cloud"]
      tags:
        - workspaces
        - designs
      operationId: GetDesignsOfWorkspace
      summary: Get designs assigned to a workspace
      description: Gets designs assigned to or available for a workspace depending on the filter.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/filter"
      responses:
        "200":
          description: Designs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mesheryDesignPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/designs/{designId}:
    post:
      x-internal: ["cloud"]
      tags:
        - workspaces
        - designs
      operationId: AssignDesignToWorkspace
      summary: Assign a design to a workspace
      description: Assigns a design to a workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/designId"
      responses:
        "200":
          description: Workspace design mappings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesDesignsMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud"]
      tags:
        - workspaces
        - designs
      operationId: UnassignDesignFromWorkspace
      summary: Unassign a design from a workspace
      description: Removes a design from a workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/designId"
      responses:
        "200":
          description: Workspace design mappings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesDesignsMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/views:
    get:
      x-internal: ["cloud"]
      tags:
        - workspaces
        - views
      operationId: GetViewsOfWorkspace
      summary: Get views assigned to a workspace
      description: Gets views assigned to or available for a workspace depending on the filter.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/order"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pagesize"
        - $ref: "#/components/parameters/filter"
      responses:
        "200":
          description: Views
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/mesheryViewPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /api/workspaces/{workspaceId}/views/{viewId}:
    post:
      x-internal: ["cloud"]
      tags:
        - workspaces
        - views
      operationId: AssignViewToWorkspace
      summary: Assign a view to a workspace
      description: Assigns a view to a workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/viewId"
      responses:
        "200":
          description: Workspace view mappings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesViewsMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
    delete:
      x-internal: ["cloud"]
      tags:
        - workspaces
        - views
      operationId: UnassignViewFromWorkspace
      summary: Unassign a view from a workspace
      description: Removes a view from a workspace.
      parameters:
        - $ref: "#/components/parameters/workspaceId"
        - $ref: "#/components/parameters/viewId"
      responses:
        "200":
          description: Workspace view mappings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/workspacesViewsMappingPage"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

components:
  responses:
    200:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/200"
    400:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/400"
    401:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/401"
    404:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/404"
    500:
      $ref: "../../v1alpha1/core/api.yml#/components/responses/500"

  parameters:
    workspaceId:
      name: workspaceId
      in: path
      description: Workspace ID
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/workspace_id"
      required: true
    teamId:
      name: teamId
      in: path
      description: Team ID
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/team_id"
      required: true
    environmentId:
      name: environmentId
      in: path
      description: Environment ID
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/environment_id"
      required: true
    designId:
      name: designId
      in: path
      description: Design ID
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/design_id"
      required: true
    viewId:
      name: viewId
      in: path
      description: View ID
      schema:
        $ref: "../../v1alpha1/core/api.yml#/components/schemas/view_id"
      required: true
    search:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/search"
    order:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/order"
    page:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/page"
    pagesize:
      $ref: "../../v1alpha1/core/api.yml#/components/parameters/pagesize"
    filter:
      name: filter
      in: query
      description: JSON-encoded filter string used for assignment and soft-delete filters.
      schema:
        type: string

  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    workspace:
      type: object
      properties:
        ID:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        name:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
        description:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
        organization_id:
          x-go-name: OrganizationID
          x-go-type-skip-optional-pointer: true
          x-oapi-codegen-extra-tags:
            db: organization_id
            yaml: organization_id
            json: organization_id
          $ref: ../../v1alpha1/core/api.yml#/components/schemas/uuid
          description: Workspace organization ID
        owner:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
        metadata:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/MapObject"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    workspacesTeamsMapping:
      type: object
      properties:
        ID:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        team_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/team_id"
        workspace_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    workspacesEnvironmentsMapping:
      type: object
      properties:
        ID:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        environment_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/environment_id"
        workspace_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    workspacesViewsMapping:
      type: object
      properties:
        ID:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        view_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/view_id"
        workspace_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    workspacesDesignsMapping:
      type: object
      properties:
        ID:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        design_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/design_id"
        workspace_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/workspace_id"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"
    workspacePayload:
      type: object
      required:
        - name
        - organization_id
      properties:
        name:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
          description: Name of the workspace.
        description:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
          description: Description of the workspace.
        organization_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Organization ID.
          x-go-type-skip-optional-pointer: true
          x-go-name: OrganizationID
          x-oapi-codegen-extra-tags:
            json: organization_id
            yaml: organization_id

    workspaceUpdatePayload:
      type: object
      required:
        - organization_id
      properties:
        name:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
          description: Name of the workspace.
        description:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
          description: Description of the workspace.
        organization_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/uuid"
          description: Organization ID.
          x-go-type-skip-optional-pointer: true
          x-go-name: OrganizationID
          x-oapi-codegen-extra-tags:
            json: organization_id
            yaml: organization_id

    workspacePage:
      type: object
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        workspaces:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: Workspace
            $ref: "#/components/schemas/workspace"

    workspacesTeamsMappingPage:
      type: object
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        workspaces_teams_mapping:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: WorkspacesTeamsMapping
            $ref: "#/components/schemas/workspacesTeamsMapping"

    workspacesEnvironmentsMappingPage:
      type: object
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        workspaces_environments_mapping:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: WorkspacesEnvironmentsMapping
            $ref: "#/components/schemas/workspacesEnvironmentsMapping"

    workspacesDesignsMappingPage:
      type: object
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        workspaces_designs_mapping:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: WorkspacesDesignsMapping
            $ref: "#/components/schemas/workspacesDesignsMapping"

    workspacesViewsMappingPage:
      type: object
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        workspaces_views_mapping:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: WorkspacesViewsMapping
            $ref: "#/components/schemas/workspacesViewsMapping"

    mesheryDesignPage:
      type: object
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        designs:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            $ref: "../../v1beta1/design/api.yml#/components/schemas/MesheryPattern"

    mesheryView:
      type: object
      properties:
        ID:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/general_id"
        name:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
        filters:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/MapObject"
        visibility:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
        metadata:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/MapObject"
        user_id:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Text"
        created_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        updated_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/Time"
        deleted_at:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/nullTime"

    mesheryViewPage:
      type: object
      properties:
        page:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        page_size:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        total_count:
          $ref: "../../v1alpha1/core/api.yml#/components/schemas/number"
        views:
          type: array
          x-go-type-skip-optional-pointer: true
          items:
            x-go-type: MesheryView
            $ref: "#/components/schemas/mesheryView"

  requestBodies:
    workspacePayload:
      description: Body for creating a workspace
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/workspacePayload"
    workspaceUpdatePayload:
      description: Body for updating a workspace
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/workspaceUpdatePayload"